# Compiled Object files
*.slo
*.lo
*.o

# General build files
/debug/*
/release/*

# System-specific Makefile
/Makefile

# Dependency build files
/deps/glfw-3.0.2/build/*

# Visual Studio Projects
/VS2010/*
!/VS2010/*.sln
!/VS2010/*.vcxproj
!/VS2010/*.vcxproj.filters
!/VS2010/*.vcxproj.user

/VS2013/*
!/VS2013/*.sln
!/VS2013/*.vcxproj
!/VS2013/*.vcxproj.filters
!/VS2013/*.vcxproj.user
